{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile | Fitness360</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/myprofile.css' %}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-6">

            <div class="card profile-card shadow-lg">

                <div class="card-header text-center">

                    <i class="fa-solid fa-circle-user profile-icon"></i>

                    <h2 class="mt-3">My Profile</h2>

                    <p>Fitness360 Smart Gym Management System</p>

                </div>

                <div class="card-body">

                    <table class="table table-bordered">

                        <tr>
                            <th width="35%">Username</th>
                            <td>{{ user.username }}</td>
                        </tr>

                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>

                        <tr>
                            <th>Mobile</th>
                            <td>{{ user.mobile }}</td>
                        </tr>

                        <tr>
                            <th>Account Created</th>
                            <td>{{ user.created_at }}</td>
                        </tr>

                    </table>

                    <div class="text-center mt-4">

                        <a href="{% url 'getupdateprofilepage' %}" class="btn btn-warning">
                            <i class="fa-solid fa-pen"></i>
                            Update Profile
                        </a>

                        <a href="{% url 'getdashboardpage' %}" class="btn btn-dark">
                            <i class="fa-solid fa-house"></i>
                            Dashboard
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>