{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration | FitFusion</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-5 col-md-7">

            <div class="card shadow-lg border-0">

                <div class="card-header text-center">
                    <h2>Fitness360</h2>
                    <p>Create Your Account</p>
                </div>

                <div class="card-body">

                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" placeholder="Enter Username" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter Email" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mobile Number</label>
                            <input type="number" name="mobile" class="form-control" placeholder="Enter Mobile Number" required>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-success btn-lg">
                                Register
                            </button>
                        </div>

                        <div class="text-center mt-3">
                            Already have an account?
                            <a href="{% url 'getloginpage' %}" class="text-success text-decoration-none">
                                Login
                            </a>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>