<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addition</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body class="bg-light">
    <form action="">
    <div class="container mt-5">
        <div class="row justify-content-center">

            <div class="col-md-6">

                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h3>Simple Calculator</h3>
                    </div>

                    <div class="card-body">

                        <div class="mb-3">
                            <label class="form-label">Number 1</label>
                            <input type="number" class="form-control" placeholder="Enter Number 1" name="num1" value="{{num1}}">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Number 2</label>
                            <input type="number" class="form-control" placeholder="Enter Number 2" name="num2" value="{{num2}}">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Answer</label>
                            <input type="text" class="form-control" readonly name="answer" value="{{answer}}">
                        </div>

                        <div class="d-grid gap-2">

                            <button class="btn btn-primary" formaction="/calciapp/addition">
                                Addition
                            </button>

                        </div>

                    </div>
                </div>

            </div>

        </div>
        </form>
    </div>

</body>
</html>