*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4fbff;
}

.page-header{
    background:linear-gradient(135deg,#d9f3ff,#bde0fe);
    padding:70px 0;
}

.page-header h1{
    color:#0d6efd;
    font-weight:700;
    margin-top:15px;
}

.page-header p{
    color:#555;
    font-size:18px;
}

.product-card{
    border:none;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 18px rgba(0,0,0,.12);
    transition:.4s;
}

.product-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 35px rgba(0,0,0,.18);
}

.card-img-top{
    height:230px;
    object-fit:cover;
}

.card-body{
    text-align:center;
    padding:20px;
}

.card-body h5{
    color:#0d6efd;
    font-weight:600;
}

.card-body p{
    color:#666;
    margin:10px 0;
}

.price{
    color:#198754;
    font-size:24px;
    font-weight:bold;
    margin:15px 0;
}

.btn-success{
    border-radius:30px;
    padding:10px;
    font-weight:600;
}

.btn-success:hover{
    transform:scale(1.05);
    transition:.3s;
}

@media(max-width:768px){

    .page-header{
        padding:50px 20px;
    }

    .card-img-top{
        height:200px;
    }

}